.navbar-inverse {
    background-color: #2c62ba;
    border-color: #2c62ba;
}

.bg-primary {
    background-color: #2c62ba;
}

.bg-danger {
    background-color: #f4a34b;
}

.bg-warning {
   background-color: #4bbcf4;
   color: #ffffff;
}

.section.sidebar {
    background-color: #4bbcf4;
}

.section.sidebar {
  color: #ffffff;
}

